
body {
    background-color: lightgray;
    font-family: 'Domine', serif;
    
}

.card-text {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.music {
    margin: 0 auto 15px auto;
}

.profile-pic {
    border-radius: 50%;
}

.portfolio-container {
  margin:5rem 5rem 5rem 5rem 
}

.card {
  margin: 1rem 0 1rem 0
}


.card-img-top {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .card-img-top {
  opacity: 0.3;
}

.card:hover .middle {
  opacity: 1;
}

.text {
  color: #000000;
  font-size: 16px;
  padding: 16px 32px;
}
