html {
  scroll-behavior: smooth
}


body {
    background:
    radial-gradient(circle at 100% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent),
    radial-gradient(circle at 0% 50%, transparent 20%, rgba(255,255,255,.3) 21%, rgba(255,255,255,.3) 34%, transparent 35%, transparent) 0 -50px;
    
    background-size: 75px 100px;
    background-color: #feb408;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
    background-attachment: fixed;
    
}

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
   } 
} 

.jumbotron {
  background-color: #ee6f37;
}

.card-text {
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
}

.music {
    margin: 0 auto 15px auto;
}

.profile-pic {
    border-radius: 50%;
}

.portfolio-container {
  margin:5rem 5rem 5rem 5rem 
}

.card {
  margin: 1rem 0 1rem 0
}


.card-img-top {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.card:hover .card-img-top {
  opacity: 0.3;
}

.card:hover .middle {
  opacity: 1;
}

.text {
  color: #000000;
  font-size: 16px;
  padding: 16px 32px;
}

.up-btn {
  color: #6da393
}

.down-btn {
  color: #007890
}

.down-btn:hover {
  color: #6da393
}

.fa-chevron-down {
  transition: transform .2s; /* Animation */
  height:60px;
  width:60px
}

.fa-chevron-down:hover {
  transform: scale(1.5);
}

/* --------------------- opening animations --------------------- t*/
.block-effect {
  font-size: calc(8px + 6vw);
}

.block-reveal {
  --t: calc(var(--td) + var(--d));

  color: transparent;
  padding: 4px;

  position: relative;
  overflow: hidden;

  animation: revealBlock 0s var(--t) forwards;
}

.block-reveal::after {
  content: '';

  width: 0%;
  height: 100%;
  padding-bottom: 4px;

  position: absolute;
  top: 0;
  left: 0;

  background: var(--bc);
  animation: revealingIn var(--td) var(--d) forwards, revealingOut var(--td) var(--t) forwards;
}

/* animations */
@keyframes revealBlock {
  100% {
    color: #0f0f0f;
  }
}

@keyframes revealingIn {

  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes revealingOut {

  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(100%);
  }

}
/* --------------------------------------------------------------- */

.footer {
  background-color: #007890;
  color: rgba(255, 255, 255, 0.685);
  text-align: center;
  padding: .5rem 1rem .5rem 1rem;
  position: relative;
}

#footer-link {
  color: #feb408
}
